.about {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.about__title {
  margin-bottom: 1rem;
}

.about p {
  margin-bottom: 2rem;
}

.about ul {
  list-style: none;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.about__fav {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.about__fav-cover {
  display: inline-block;
  max-width: 5rem;
  margin-right: 1.5rem;
}

.about__fav-title {
  color: var(--primary);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1;
}

.about__fav-authors {
}

/* 750px */
@media only screen and (max-width: 46.875em) {
  .about {
    padding: 0 1rem;
  }
}

/* 450px */
@media only screen and (max-width: 28.125em) {
  .about {
    padding: 0 5px;
  }

  .about p {
    font-size: 1.5rem;
  }
}
