.header {
  text-align: center;
  padding: 2rem 0;
}
.header__title-container a {
  text-decoration: none;
}

.header__svg {
  max-width: 70rem;
  display: block;
  margin: 0 auto;
}

/* .header__title {
  font-size: 6rem;
  color: var(--primary);
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 1.2;
} */

.header__subtitle {
  display: inline-block;
  color: var(--primary);
  font-style: italic;
  font-size: 2rem;
  border-bottom: 1.5px solid var(--primary);
  padding: 2rem;
}

.header__nav {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
}

.header__nav-link {
  font-weight: 700;
  color: var(--primary);
  margin: 0 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

.header__nav-link--active {
  border-bottom: 2px solid var(--primary);
}
