@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&?family=IBM+Plex+Mono:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  --primary: rgb(128, 9, 179);
  --secondary: rgb(9, 128, 179);
  --grey-dark: hsla(33, 0%, 10%, 1);
  --grey-medium: rgb(96, 96, 96);
  --grey-light: hsla(34, 0%, 79%, 1);
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 
Typography
*/

h2 {
  color: var(--primary);
}

/* 
Layout
*/
.container {
  max-width: 800px;
  margin: 0 auto;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -5px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 5px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 5px;
}
